@import './variables';

.form {
  background: $bgColor2;
  position: relative;
}

.form__bg-image {
  position: absolute;
  bottom: 0;
  left: 8vw;;
}

.form__title {
  font-family: "Playfair Display";
  font-size: 27px;
  font-weight: 400;
  color: $fontColor1;
  line-height: 38px;
  text-align: center;
  margin: 100px 0;
}

.form__donate-col {
  padding: 0 80px;
}

.form__donate-btn {
  width: 270px;
  font-size: 40px;
  font-weight: 700;
  color: $fontColor2;
  background: transparent;
  border: 4px solid $donate-btnBorderColor;
  border-radius: 5px;
  padding: 25px;
  margin: 0 0 30px;
  cursor: pointer;
  transition: color .1s linear, background-color .1s linear, border .1s linear; 

  &.form__donate-btn--active {
    color: $fontColor3;
    background: $donate-btnActiveColor;
    border: 4px solid $donate-btnActiveColor;
  }

  &:hover {
    color: $fontColor3;
    background: $donate-btnActiveColor;
    border: 4px solid $donate-btnActiveColor;
  }
}

.form__donate-info {
  text-align: center;
  margin: 60px 0 0;
  padding: 0 50px 0;
}

.form__inputs-col {
  padding: 0 25px;
}

.form__input-wrapper {
  width: 100%;
  margin: 0 0 30px;
}

.form__input {
  width: 100%;
  font-size: 21px;
  line-height: 34px;
  background: $inputBgColor;
  border: 2px solid $inputBorderColor;
  border-radius: 5px;
  padding: 20px 20px 20px 60px;
}

.form__input-error {
  display: none;
  color: $inputErrorColor;
  font-size: 14px;
  margin: 2px 0 0;

  &.form__input-error--rodo {
    margin: 0 0 3px 15px;
  }

  &.form__input-error--visible {
    display: block;
  }
}

.form__code {
  font-size: 24px;
  text-align: center;
  margin: 35px 0 55px;;
}

.form__fake-checkbox {
  width: 35px;
  min-width: 35px;
  height: 35px;
  min-height: 35px;
  line-height: 100%;;
  position: relative;
  background: $inputBgColor;
  border: 2px solid $inputBorderColor;
  border-radius: 5px;
  padding: 2px;
  margin: 0 45px 0 10px;
  cursor: pointer;
}

.form__input--invalid {
  border: 2px solid $inputErrorColor;
}

.form__checked-image {
  width: 100%;
  
  &.form__checked-image--hidden {
    display: none;
  }
}

.form__rodo-info {
  font-size: 21px;
}

.form__submit-btn {
  width: 160px;
  height: 45px;
  font-size: 14px;
  font-weight: 700;
  color: $fontColor3;
  text-transform: uppercase;
  background: $submitBgColor;
  border: none;
  border-radius: 5px;
  margin: 130px 0 70px;
  cursor: pointer;
}

@media (max-width: 1199px) {
  .form__donate-col {
    padding: 0 30px;
  }
}

@media (max-width: 600px) {
  .form__bg-image {
    width: 60vw;
  }
}




