
$bgColor1: #fff;
$bgColor2: #F5F7FA;

$mainFontColor: #8D97AD;
$fontColor1: #3E4555;
$fontColor2: #E2536B;
$fontColor3: #fff;

$donate-btnBorderColor: #E2536B;
$donate-btnActiveColor: #29AF8A;
$submitBgColor: #29AF8A;

$inputBgColor: #fff;
$inputBorderColor: #E0E6ED;
$inputErrorColor: red;

$feedbackSuccessColor: green;